RewriteEngine On

# 1. Redirect root to /pages
RewriteCond %{HTTP_HOST} ^pos-admin\.doitcebutech\.com$ [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /pages [L,R=301]

# 2. Existing CodeIgniter / API Routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]